<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Data Driven">

	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
		<listener class-name="com.vs.listeners.CustomListener" />
	</listeners>

	<test thread-count="5" name="Bank Login Test">
		<classes>
			<class name="com.vs.testcases.BankLoginTest" />
		</classes>
	</test> <!-- Test -->

	<test thread-count="5" name="Add Customer Test">
		<classes>
			<class name="com.vs.testcases.AddCustomerTest" />
		</classes>
	</test> <!-- Test -->
	
	<test thread-count="5" name="Open Account Test">
		<classes>
			<class name="com.vs.testcases.OpenAccountTest" />
		</classes>
	</test> <!-- Test -->


</suite> <!-- Suite -->
